/* Reset... */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: $font__main;
    font-size:1rem;
    font-weight:normal;
    line-height:1.5;
    overflow-x:hidden;
}


.section-titre-separateur{
    height: 15px;
    background-size: auto 15px;
    position: relative; 
    background: #160e11 url(../img/separateur.png) 50% 50% repeat-x;
    background-size: auto 15px;
}

.titre-separateur{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 57px;
    background: url(../img/separateur_titre.png) 50% 50% no-repeat;
    background-size: contain;
    text-align: center;
    
}

.titre-texte{
    font-family: $font__titre;
    font-size: 40px;
    letter-spacing: 2px;
}

/*========================================*/
/*=============== TABLETTES ==============*/
/*========================================*/
@media screen and (min-width: 768px) {

}

/*========================================*/
/*================ DESKTOP ===============*/
/*========================================*/
@media screen and (min-width: 1200px) {
    .texte-section{
        flex-basis: 50%;
        max-width: 50%;
        padding: 0.6em;
    }

}

