/* Reset... */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Lato","Roboto","Helvetica", sans-serif;
    font-size:1rem;
    font-weight:normal;
    line-height:1.5;
    overflow-x:hidden;
}


/*========================================
  ============ BARRE NAVIGATION ==========
  =======================================*/

.menu {
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: fixed;
    transition: 0.4s;
    padding: 1em;
    text-align: center;
    z-index: 10;
}

.menu a {
    text-align: center;
    padding: 0em 3em;
    text-decoration: none;
    font-size: 1.3rem; 
}

.menu a:first-child {
    padding: 0em 0.7em;
}

.btn_menu{
    display: none;
}

.btn_menu_mobile{
    height: 100vh;
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 9;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(.42, 0, .49, 1.43);
}

.btn_menu_mobile a{
    text-align: center;
    padding: 2em 0em;
    text-decoration: none;
    font-size: 1.3rem; 
}

.logo_main{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
    height: 70px;
    transition: 0.4s;
}

#chkBoutonBurger {
    display: none;
}

.boutonBurger {
    width: 30px;
    height: 25px;
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 6%;
    float: right;
}

.ligne {
    border-radius: 50%;
    width: 100%;
    height: 5px;
    transition: transform 0.5s, opacity 0.5s;
}

.desc{
    padding: 1.5em;
}

/*============================================
==============ANIMATIONS MENU BURGER==========
==============================================*/

#chkBoutonBurger:checked~.boutonBurger>.ligne:first-child {
    transform: translateY(15px) rotate(45deg);
}

#chkBoutonBurger:checked~.boutonBurger>.ligne:nth-child(2) {
    opacity: 0;
}

#chkBoutonBurger:checked~.boutonBurger>.ligne:last-child {
    transform: translateY(-15px) rotate(-45deg);
}


/*========================================
  ============ FOND VIDEOS ==============
  =======================================*/

.v-header{
    height:100vh;
    display:flex;
    align-items:center;
}

.container-all{
    padding-left:auto;
    padding-right:auto;
    margin:auto;
    text-align:center;
}

.video-background{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
}

.video-background video{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -960px;
}

.header-content-container{
    z-index: 1;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.header-content{
    margin-left: auto;
    margin-right: auto;
}

.header-content h1{
    margin: 0 auto;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.header-content p{
    font-size: 1.5em;
}

.bar-entre{
    margin: 10px 0;
    height: 2px;
}

/*=========================================
=================Section Contenu==========
===========================================*/
.section-titre-separateur{
    height: 15px;
    background-color: black;
    background-size: auto 15px;
    position: relative; 
}

.titre-separateur{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 360px;
    background-color: #670e0e;
    text-align: center;
}

.titre-texte{
    font-family: 'Righteous', cursive;
    font-size: 40px;
    //padding: 0.5em;
    letter-spacing: 2px;
    border: 1px solid #4f4b4b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.containerIntro{
    max-width:100%;
    padding-left:1rem;
    padding-right:1rem;
}

/*****************INTRO********************/
.intro-section-a{
    display: flex;
    flex-direction: column;
    padding: 5em 0em 0em 0em;
    text-align: left;
}

.a-intro{
    padding: 1em;
}

.a-intro-titre{
    position: relative;
    background: linear-gradient(#ea745c, #FF5722);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 3px;
    font-family: 'Righteous', cursive;
}

.c3D-titre{
    position: relative;
    background: linear-gradient(#ea745c, #FF5722);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 3px;
    font-family: 'Righteous', cursive;
}

.a-intro-titre::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: linear-gradient(to right, #7d491e 0%, #7d411e 60%, rgba(125, 100, 30, 0) 100%);
}

.a-intro-deux{
    margin: 0 auto;
}

#videoTrailer{
    width: 100%;
    height: auto;
    max-width: 500px;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #4f4b4b;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.intro-section-b{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0em 7em 0em;
}

.sec-boite{
    border: 1px solid black;
    padding: 2em;
    margin: 2em 0em;
}

/*****************SECTION GLOBAL********************/
.containerJeux{
    max-width:100%;
    padding: 0em 1em 0em 1em;
    text-align:center;
    position: relative;
    box-sizing: border-box;
    border-top: 1px solid #693a2f;
    border-bottom: 2px solid #1a0e0b;
    box-shadow: inset 0px 1px 0px 0px #1a0e0b;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: visible;
}

.containerJeux-section{
    display: flex;
    flex-direction: row;
    padding: 10em 0em;
    align-items: center;
}

.containerJeux-sec-gauche{
    justify-content: flex-start;
}

.containerJeux-sec-droite{
    justify-content: flex-end;
}

.texte-section{
    border: 1px solid red;
    box-sizing: border-box;
    /*flex-basis: 100%;
    max-width: 100%;*/
    padding: 0.6em;
    line-height: 2;
}

.texte-gauche{
    text-align: left;
}


.texte-droite{
    text-align: right;
}

/*****************SECTION JEUX********************/

.containerJeux-1{
    background-color: #26303e;
}

.containerJeux-2{
    background-color: #dd805c;
}

.containerJeux-3{
    background-color:#26303e;
}



/*****************SECTION 3D********************/
.container3D{
    padding: 3em 1em 3em 1em;
    background-color: #26303e;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.c3D-texte{
    padding: 2em 0em;
    line-height: 2em;
    text-align: center;
}

.sketchfab-embed-wrapper{
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

#sketchfab1{
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.c3d-gallerie-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.voxel-img{
    padding: 0.1em 0em;
}

.voxel-img > img{
    width:100%;
}

.voxel-img > img:hover{
    cursor: pointer;
}



/*****************SECTION WEB********************/


/*===============================================================================
  ================================== FOOTER =====================================
  ===============================================================================*/
.footer-container{
    flex: 0;
    text-align: center;
    text-decoration: none;
}

.section-network{
    padding: 1em 0em;
    font-size: 1em;
}

.ntwBtn{
    margin: 0.5em 0.7em;
}

.separateur{
    display: inline-block;
    vertical-align: 25%;
    width: 1px;
    height: 20px;
    background: #32372b;
    vertical-align: middle;
}

.separateurMenu{
    display: inline-block;
    vertical-align: 25%;
    width: 1px;
    height: 15px;
    background: #ffffff;
    vertical-align: middle;
}

.footerbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em;
}

.footerbox-left{
    display: flex;
    flex-direction: column;
}

.footerbox-right{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5em;
}

.footerbox-right > a{
    text-decoration: none;
}

.separateur-footer{
    vertical-align: 25%;
    width: 130px;
    height: 1px;
    vertical-align: middle;
    margin: 0 auto;
}

.infoBtn{
    margin: 0.5em 0.7em;
}





/* ***********************************************************************
****************TABLETTES************************
**************************************************************************/
@media screen and (min-width: 768px) {

.boutonBurger {
    margin: 2%;
}

.intro-section-b{
    flex-direction: row;
    justify-content: center;
}

.sec-boite{
    margin: 0em 2em;
}

#videoTrailer{
    max-width: 700px;
}

.containerJeux{
    font-size: 105%;
    padding: 0em 7em 0em 7em;
}

.container3D{
    font-size: 105%;
    padding: 3em 7em 3em 7em;
}

}



/* ***********************************************************************
****************DESKTOP************************
**************************************************************************/
@media screen and (min-width: 1200px) {

.menu {
    flex: 0 0 100%;
    flex-direction: row;
    justify-content: space-between;
}

.menu a {
    transform: translateX(0%);
    flex: 1 0 auto;
}

.btn_menu{
    padding: 1.2em;
    display: block;
}

.btn_menu_mobile{
    display: none;
}

.boutonBurger {
    display: none;
}

/*========================================
  ============ FOND VIDEOS ==============
  =======================================*/

.desc{
    padding: 3em;
    mix-blend-mode: screen;
}



/*=========================================
=================Section Contenu==========
===========================================*/


/*****************INTRO********************/
.intro-section-a{
    flex-direction: row;
}

.a-intro-texte{
    line-height: 1.8em;
}

.a-intro{
    flex-basis: 50%;
    max-width: 50%;
}


.intro-section-b{
    flex-direction: row;
    justify-content: center;
}

.sec-boite{
    margin: 0em 4.5em;
}

/*****************SECTION GLOBAL********************/
.texte-section{
    flex-basis: 50%;
    max-width: 50%;
    padding: 0.6em;
}

.containerIntro{
    max-width:100%;
    padding: 0em 12em;
    margin:auto;
    text-align:center;
    font-size: 110%;
}

.containerJeux{
    font-size: 110%;
    padding: 0em 12em 0em 12em;
}

.container3D{
    font-size: 110%;
    padding: 5em 12em 5em 12em;
}

.c3d-gallerie-1{
    flex-direction: row;
}

.voxel-img{
    padding: 0.7em 0.1em;
}

.section-network{
    font-size: 1.4em;
}

.footerbox{
    flex-direction: row;
}

.footerbox-left{
    margin-right: 7em;
}

.footerbox-right{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 0em;
    margin-left: 7em;
}

}

