.container3D{
    padding: 3em 1em 3em 1em;
    background-color: #26303e;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.c3D-texte{
    padding: 2em 0em;
    line-height: 2em;
    text-align: center;
}

.sketchfab-embed-wrapper{
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

#sketchfab1{
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


@media screen and (min-width: 768px) {
    .container3D{
        font-size: 105%;
        padding: 3em 7em 3em 7em;
    }
}


@media screen and (min-width: 1200px) {
    .container3D{
        font-size: 110%;
        padding: 5em 12em 5em 12em;
    }
}