.intro-section-a{
    display: flex;
    flex-direction: column;
    padding: 5em 0em 0em 0em;
    text-align: left;
}

.a-intro{
    padding: 1em;
}

.a-intro-titre{
    position: relative;
    background: linear-gradient(#ea745c, #FF5722);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 3px;
    font-family: $font__titre2;
}

.c3D-titre{
    position: relative;
    background: linear-gradient(#ea745c, #FF5722);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 3px;
    font-family: $font__titre2;
}

.texte-gauche .a-intro-titre::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    margin-bottom: 5px;
    background: linear-gradient(to right, #9e4d0a 0%, #e48f5f 60%, rgba(125, 100, 30, 0) 100%);
}

.texte-droite .a-intro-titre::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    margin-bottom: 5px;
    background: linear-gradient(to left, #9e4d0a 0%, #e48f5f 60%, rgba(125, 100, 30, 0) 100%);
}

.a-intro-deux{
    margin: 0 auto;
}

#videoTrailer{
    width: 100%;
    height: auto;
    max-width: 500px;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #4f4b4b;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.intro-section-b{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0em 7em 0em;
}

.sec-boite{
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 250px;
    padding: 1.5em 1.2em;
    text-decoration: none;
}

.intro-boite-image{
    position: relative;
    display: inline-block;
    width: 211px;
    height: 180px;
    background: url(../img/boite.png) 0 0 no-repeat;
    background-size: auto 180px;
    margin-bottom: 1em;
}

.containerIntro{
    max-width:100%;
    padding-left:1rem;
    padding-right:1rem;
    background: #26303e url(../img/bg/intro.png) no-repeat center;
    background-size: cover;
}

.intro-texte-boite{
    font-size: 150%;
    color: #c3dbea;
    font-family: $font__titre;
    transition: 0.3s;
    text-align: center;
}

.intro-boite-image:hover~.intro-texte-boite{
    padding: 0em 0.1em;
    border-right: 2px solid #c3dbea;
    border-left: 2px solid #c3dbea;
    background: #a03f22;
    transition: 0.3s;
}

.intro-texte-boite:hover{
    padding: 0em 0.1em;
    border-right: 2px solid #c3dbea;
    border-left: 2px solid #c3dbea;
    background: #a03f22;
    transition: 0.3s;
}

.intro-boite-image > i{
    position: absolute;
    left: 36%;
    top: 36%;
    font-size: 3em;
    color: #c3dbea;;
    transition: 0.5s;
}

.intro-boite-image > i:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

.a-intro-texte{
    line-height: 2.1em;
}


/*========================================*/
/*=============== TABLETTES ==============*/
/*========================================*/
@media screen and (min-width: 768px) {
    .intro-section-b{
        flex-direction: row;
        justify-content: center;
    }
    
    .sec-boite{
        margin: 0em 0.5em;
    }

    #videoTrailer{
        max-width: 550px;
    }
}

/*========================================*/
/*================ DESKTOP ===============*/
/*========================================*/
@media screen and (min-width: 1200px) {
    .containerIntro{
        max-width:100%;
        padding: 0em 12em;
        margin:auto;
        text-align:center;
        font-size: 110%;
    }

    .intro-section-a{
        flex-direction: row;
    }
    
    .a-intro{
        flex-basis: 50%;
        max-width: 50%;
    }
    
    .intro-section-b{
        flex-direction: row;
        justify-content: center;
    }

    .intro-section-b::after{   
        position: absolute;
        top: 37%;
        width: 100%;
        height: 1px;
        background: #715e2b;
    }

    .intro-boite-image > i{
        left: 0;
        right: 0;
    }

    .sec-boite{
        margin: 0em 2em;
    }
    
}