body{
    color: #c3dbea;
}

::selection {
    color: white;
    background: #e35d34; 
}

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: #555; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1; 
}

.menu {
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #4f4b4b;
}

.menu a {
    color: #f2f2f2; 
    transition: 0.5s;
}

.menu a:hover {
    color: #e34234; 
    transition: 0.5s;
}

.btn_menu_mobile{
    background: rgba(0, 0, 0, 0.92);
    border-bottom: 1px solid #4f4b4b;
}

.btn_menu_mobile a{
    color: #f2f2f2;
    border: 1px solid #4f4b4b; 
}


.ligne {
    background-color: #e34234;
}


/*========================================
  ============ FOND VIDEOS ==============
  =======================================*/
.v-header{
    color:#fff;
}

.bar-entre{
    background-color: white;
}

.section-a{
    background:#26303e;
}

.section-b{
    background:#333;
}

.desc{
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #4f4b4b;
}

.footer-container{
    background-color: #26303e;
    color: #c3dbea;
}

.section-network{
    background-color: #10161e;
    box-shadow: inset 0 0 0 1px #2c2b22;
    
}

.fab {
    transition: 0.5s;
    color: #c3dbea;
}

.fab:hover {
    transition: 0.5s;
    color: #e34234;
}

.separateur-footer{
    background: #10161e;
}

.footerbox-right > a{
    transition: 0.5s;
    color: #c3dbea;
}

.footerbox-right > a:hover{
    transition: 0.5s;
    color: #e34234;
    
}

/* Styles pour les écrans plus larges*/
@media screen and (min-width: 1200px) {

.desc{
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #4f4b4b;
}

}